*{
    margin: 0;
}
.main{
    width: 100vw;
}
.first,.second{
    width: 100%;
}
.first{
    height: 40px;
}
.form-control{
    width: 100%;
    display: flex;
}
.form-control input{
    width: 80%;
    padding: 8px 0;
}
.form-control button{
    width: 20%;
    padding: 8px 0;
}
table{
    width: 100%;
}
tr{
    background-color: rgb(191, 202, 202);
}
tr:nth-child(odd){
    background-color: rgb(102, 130, 130);
    color: white;
}
th,td{
    padding: 10px;
}